body {
  background-color: lightgray;
}

.app {
  font-family: sans-serif;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 100px;
}

button {
  cursor: pointer;
  font-size: 25px;
  border: none;
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: 0 0 8px -1px rgba(0, 0, 0, 0.5);
}
